fieldset {
    background-color: var(--background-form);
    border: 4px solid var(--sub-color);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

legend {
    border-color: var(--main-color);
    color : var(--sub-color);

    padding: 3px 6px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 2px solid var(--border-form-color);
    border-radius: 4px;
}

/*
** for image
*/

.container-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*
For filter and text
*/

.textFieldset{
    width: 50%;
}

.filterFieldset{
    width: 50%;
}

.contrainerModifier{
    display: flex;
}

.filterButtonContainer{
    display : flex;
    flex-wrap: wrap;
}

.filterButtonContainer button{
    width: 23%;
    background-color: white;

    border-radius: 4px;
    border: 2px solid var(--border-form-color); /* Green */
    padding: 3px 6px;
    margin: 1% 1% 1% 1%;
}

/*
For general information
*/

.contrainer-general-info div label{
    width: 10%;
}

.container-general-info div input{
    width: 90%;
}

/*
** image option
*/

.image-opt div label:nth-of-type(1){
    width : 10%;
}

.image-opt div input:nth-of-type(1){
    width : 10%;
}

.image-opt div label:nth-of-type(2){
    width : 10%;
}

.image-opt div input:nth-of-type(2){
    width : 10%;
}

/*
** text
*/
.text-fieldset-container div:nth-of-type(1){
    width: 100%;
}

.text-fieldset-container label:nth-of-type(1){
    width: 10%;
}

.text-fieldset-container input:nth-of-type(1){
    width : 90%;
}

/*
** pos
*/

.text-fieldset-container div:nth-of-type(2){
    width: 100%;
}

.text-fieldset-container div:nth-of-type(2) label:nth-last-of-type(1){
    width: 10%;
}

.text-fieldset-container div:nth-of-type(2) input:nth-last-of-type(1){
    width: 20%;
}

.text-fieldset-container div:nth-of-type(2) label:nth-last-of-type(2){
    width: 10%;
}

.text-fieldset-container div:nth-of-type(2) input:nth-last-of-type(2){
    width: 20%;
}


/*
** --------------------------------------------------------------------
** color and size
*/



.text-fieldset-container div:nth-of-type(3){
    width: 100%;
}

.text-fieldset-container div:nth-of-type(3) label:nth-last-of-type(1){
    width: 10%;
}

.text-fieldset-container div:nth-of-type(3) input:nth-last-of-type(1){
    width: 20%;
}

.text-fieldset-container div:nth-of-type(3) label:nth-last-of-type(2){
    width: 10%;
}

.text-fieldset-container div:nth-of-type(3) input:nth-last-of-type(2){
    width: 20%;
}

/*
** button add
*/
.text-fieldset-container div button{
    width: 50%;
    height: 20%;
    border-radius: 4px;
    border: 2px solid var(--border-form-color); /* Green */
    padding: 3px 6px;
    margin: 1% 1% 1% 1%;
    transition: 0.3s;
}

.text-fieldset-container div button:hover{
    border-radius: 4px;
    border: 2px solid var(--sub-color); /* Green */
}