@import "./Root.css";

.App {
  text-align: center;
  background-color: var(--color5);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*
** --------------------------------
*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--color2);
  color: var(--color);

  margin-bottom: 10px;
}

nav a {
  text-decoration:none;
  height: 100%;
  flex-grow: 1;

  padding: 10px;
  background-color: var(--color2);
  border: 2px solid  var(--color);
  color : var(--color4);


  transition: 0.3s;
}

nav a:hover {
  background-color: var(--color);
  border: 2px solid  var(--color2);
}