:root {
  --color : #D79922;
  --color2 : #EFE2BA;
  --color3 : #F13C20;
  --color4 : #4056A1;
  --color5 : #C5CBE3;
  --background-color : var(--color2);
  --background-form : var(--color2);
  --main-color : rgb(16, 112, 19);
  --sub-color : rgb(12, 65, 14);

  --border-form-color : var(--color4);

  background-color: var(--color5);
}